/* Base styles & resets */

html {
  font-family: "Roboto Slab", serif;
  color: rgb(3, 102, 105);
  background-color: white;
}

body {
  margin: 0;
}

main {
  width: 80%;
  margin: 3rem auto;
}

a {
  text-decoration: none;
  margin-top: 2rem;
  color: inherit;
}

a:hover,
a:active {
  color: rgb(20, 135, 139);
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Global components */

.btn {
  margin-top: 2rem;
  cursor: pointer;
  font: inherit;
  background-color: rgb(8, 148, 153);
  border: 1px solid rgb(0, 225, 255);
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
}

.btn:hover,
.btn:active {
  background-color: rgb(4, 173, 179);
  border-color: rgb(4, 190, 196);
  color: white;
}

.btn.btn-alt {
  background-color: transparent;
  border-color: transparent;
  color: inherit;
}

.btn.btn-alt:hover,
.btn.btn-alt:active {
  color: rgb(0, 173, 179);
}

/* Site-wide content / elements */

#main-header {
  padding: 2rem 10%;
  background-color: rgb(4, 118, 126);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo a {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  font-family: "Roboto", sans-serif;
}

#main-header ul {
  display: flex;
}

#main-header li {
  margin-left: 2rem;
}

#main-header nav a {
  color: white;
  font-size: 1.25rem;
}

#main-header nav a:hover,
#main-header nav a:active {
  color: rgb(255, 217, 0);
}
